In [96]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [97]:
# read the data into a pandas dataframe
banned_books = pd.read_csv("banned_books.csv")
banned_books

,Title,Author,Secondary Author(s),Illustrator(s),Translator(s),Series Name,State,District,Challenge/Removal,Ban Status,Initiating Action
0,Next Summer,"Abbott, Hailey",NaN,NaN,NaN,Summer Girls,Florida,Escambia County Public Schools,August 2023,Banned pending investigation,Administration
1,Summer Girls,"Abbott, Hailey",NaN,NaN,NaN,Summer Girls,Florida,Escambia County Public Schools,August 2023,Banned pending investigation,Administration
2,In the Belly of the Beast: Letters From Prison,"Abbott, Jack Henry",NaN,NaN,NaN,NaN,Florida,Orange County Public Schools,June 2024,Banned by restriction,Administration
3,The End of Everything,"Abbott, Megan",NaN,NaN,NaN,NaN,Florida,Lee County Schools,June 2024,Banned by restriction,Administration
4,The Summer of Owen Todd,"Abbott, Tony",NaN,NaN,NaN,NaN,Florida,Escambia County Public Schools,August 2023,Banned pending investigation,Administration
...,...,...,...,...,...,...,...,...,...,...,...
10041,Messing Around with Drinking Straw Constructio...,"Zubrowski, Bernie","Fleischer, Stephanie",NaN,NaN,NaN,Florida,Escambia County Public Schools,August 2023,Banned pending investigation,Administration
10042,Rising Above: How 11 Athletes Overcame Challen...,"Zuckerman, Gregory","Zucherman, Elijah; Zuckerman, Gabriel",NaN,NaN,NaN,Florida,Escambia County Public Schools,August 2023,Banned pending investigation,Administration
10043,"Lost in Shangri-La: A True Story of Survival, ...","Zuckoff, Mitchell",NaN,NaN,NaN,NaN,Florida,Lee County Schools,June 2024,Banned by restriction,Administration
10044,I Am the Messenger,"Zusak, Markus",NaN,NaN,NaN,NaN,Florida,Escambia County Public Schools,August 2023,Banned pending investigation,Administration
10045,I Am the Messenger,"Zusak, Markus",NaN,NaN,NaN,NaN,Wisconsin,Elkhorn Area School District,November 2023,Banned pending investigation,"Informal Challenge, Administration"

In [85]:
# Regional clusters dictionary (US Census Bureau divisions)
regional_clusters = {
    # Northeast
    'Maine': 'Northeast',
    'New Hampshire': 'Northeast',
    'Vermont': 'Northeast',
    'Massachusetts': 'Northeast',
    'Rhode Island': 'Northeast',
    'Connecticut': 'Northeast',
    'New York': 'Northeast',
    'New Jersey': 'Northeast',
    'Pennsylvania': 'Northeast',
    
    # South
    'Delaware': 'South',
    'Maryland': 'South',
    'Virginia': 'South',
    'West Virginia': 'South',
    'Kentucky': 'South',
    'Tennessee': 'South',
    'North Carolina': 'South',
    'South Carolina': 'South',
    'Georgia': 'South',
    'Florida': 'South',
    'Alabama': 'South',
    'Mississippi': 'South',
    'Arkansas': 'South',
    'Louisiana': 'South',
    'Oklahoma': 'South',
    'Texas': 'South',
    
    # Midwest
    'Ohio': 'Midwest',
    'Indiana': 'Midwest',
    'Illinois': 'Midwest',
    'Michigan': 'Midwest',
    'Wisconsin': 'Midwest',
    'Minnesota': 'Midwest',
    'Iowa': 'Midwest',
    'Missouri': 'Midwest',
    'North Dakota': 'Midwest',
    'South Dakota': 'Midwest',
    'Nebraska': 'Midwest',
    'Kansas': 'Midwest',
    
    # West
    'Montana': 'West',
    'Idaho': 'West',
    'Wyoming': 'West',
    'Colorado': 'West',
    'New Mexico': 'West',
    'Arizona': 'West',
    'Utah': 'West',
    'Nevada': 'West',
    'Washington': 'West',
    'Oregon': 'West',
    'California': 'West',
    'Alaska': 'West',
    'Hawaii': 'West'
}

# Display the dictionary
print("Regional Clusters Dictionary:")
print(f"Total states: {len(regional_clusters)}")
print("\nSample entries:")
for state, region in list(regional_clusters.items())[:10]:
    print(f"  {state}: {region}")

Regional Clusters Dictionary:
Total states: 50

Sample entries:
  Maine: Northeast
  New Hampshire: Northeast
  Vermont: Northeast
  Massachusetts: Northeast
  Rhode Island: Northeast
  Connecticut: Northeast
  New York: Northeast
  New Jersey: Northeast
  Pennsylvania: Northeast
  Delaware: South

How many books are banned per state?

In [86]:
books_per_state = banned_books['State'].value_counts().sort_values(ascending=False)

print("Number of books banned per state: ")
print(books_per_state)

Number of books banned per state:
State
Florida           4561
Iowa              3671
Texas              538
Wisconsin          408
Virginia           121
Kentucky           100
Georgia             83
Maine               83
Maryland            64
South Carolina      64
North Carolina      61
Missouri            57
Alaska              56
Wyoming             42
Tennessee           34
Utah                32
Pennsylvania        20
Oregon              18
Idaho               12
New York             6
Ohio                 3
Montana              3
Illinois             2
California           2
Massachusetts        1
Louisiana            1
New Jersey           1
Minnesota            1
Indiana              1
Name: count, dtype: int64

Which states have the most bans?

In [87]:
print(books_per_state.idxmax())

Florida

Are there regional clusters (South, Midwest, etc.)?

In [88]:
state_region_df = pd.DataFrame({'State': books_per_state.index, 'Bans':books_per_state.values})
state_region_df['Region'] = state_region_df['State'].map(regional_clusters)


regional_stats = state_region_df.groupby('Region').agg({'Bans':['sum', 'mean', 'count']})
regional_stats

           Bans
            sum        mean count
Region
Midwest    4143  591.857143     7
Northeast   111   22.200000     5
South      5627  562.700000    10
West        165   23.571429     7

What's the time trend by state?

In [89]:
banned_books.columns

Index(['Title', 'Author', 'Secondary Author(s)', 'Illustrator(s)',
       'Translator(s)', 'Series Name', 'State', 'District',
       'Challenge/Removal', 'Ban Status', 'Initiating Action'],
      dtype='object')

In [103]:
banned_books['Challenge/Removal'] = banned_books['Challenge/Removal'].apply(lambda x: x.replace(' ', ''))
banned_books
books_time = pd.to_datetime(banned_books['Challenge/Removal'], format='%B%Y')

ValueError: time data "Fall2023" doesn't match format "%B%Y", at position 2. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

Any states with zero bans?