In [1]:
print("Kernel is working")

Kernel is working

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("data/raw/merged_dataset.csv")
df.head()

,Author,Title,Description,Genre,Banned
0,"Laurie, Forest",The Black Witch,A new Black Witch will rise…her powers vast be...,"Fantasy, Young Adult, Witches, Romance, Magic,...",1
1,"Deborah, Harkness",Shadow of Night,Picking up from A Discovery of Witches’ cliffh...,"Fantasy, Romance, Fiction, Historical Fiction,...",1
2,"Diana, Athill",Somewhere Towards the End,Winner of the 2009 National Book Critics Circl...,"Memoir, Nonfiction, Biography, Autobiography, ...",1
3,"Cassandra, Clare",Chain Of Iron,The Shadowhunters must catch a killer in Edwar...,"Fantasy, Young Adult, Romance, Historical Fict...",1
4,"Sonora, Reyes",The Lesbiana's Guide to Catholic School,A debut novel about a queer Mexican American g...,"Romance, LGBT, Young Adult, Queer, Lesbian, Co...",1

In [6]:
total_books = len(df)
print("Total books:", total_books)

Total books: 17440

In [7]:
top_5 = df["Title"].value_counts().head(5)
print("Top 5 Most Banned Books:")
print(top_5)

Top 5 Most Banned Books:
Title
Life is Funny                                 7
Ramona Blue                                   6
Neanderthal Opens the Door to the Universe    6
The Nowhere Girls                             6
Maybe He Just Likes You                       6
Name: count, dtype: int64