In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("PEN.csv")
df.head()

,School Year,Title,Author,Secondary Author(s),Illustrator(s),Translator(s),Series Name,State,District,Ban Date,Ban Status,Origin of Challenge
0,2021-22,Sloppy Firsts (Jessica Darling Series),"McCafferty, Megan",NaN,NaN,NaN,NaN,Florida,Walton County School District,Apr-22,Banned Pending Investigation,Administrator
1,2021-22,Outlander (Outlander Series),"Gabaldon, Diana",NaN,NaN,NaN,NaN,Florida,Walton County School District,Apr-22,Banned Pending Investigation,Administrator
2,2021-22,Gender Queer: A Memoir,"Kobabe, Maia",NaN,NaN,NaN,NaN,Florida,Osceola County School District,Apr-22,Banned Pending Investigation,Administrator
3,2021-22,The Family Fletcher Takes Rock Island (Family ...,"Levy, Dana Alison",NaN,NaN,NaN,NaN,Florida,Jackson County School District,Apr-22,Banned in Libraries and Classrooms,Administrator
4,2021-22,Thirteen Reasons Why,"Asher, Jay",NaN,NaN,NaN,NaN,Florida,Santa Rosa County District Schools,Apr-22,Banned Pending Investigation,Administrator

In [12]:
total_books = len(df)
print("Total books:", total_books)

Total books: 22659

In [13]:
unique_states = df["State"].nunique()
print("Unique states:", unique_states)

Unique states: 45

In [20]:
import re

def normalize_date(val):
    if pd.isna(val):
        return val
    val = str(val).strip()
    # Convert formats like "Sep-22" â†’ "Sep 2022"
    if re.match(r"^[A-Za-z]{3}-\d{2}$", val):
        month, year = val.split("-")
        val = f"{month} 20{year}"
    return val

df["Ban Date"] = df["Ban Date"].apply(normalize_date)
df["Ban Date"] = pd.to_datetime(df["Ban Date"], errors="coerce")

In [21]:
df["Ban Date"] = pd.to_datetime(df["Ban Date"], errors="coerce")

In [16]:
print(df.columns)

Index(['School Year', 'Title', 'Author', 'Secondary Author(s)',
       'Illustrator(s)', 'Translator(s)', 'Series Name', 'State', 'District',
       'Ban Date', 'Ban Status', 'Origin of Challenge'],
      dtype='object')

In [24]:
earliest = df["Ban Date"].min()
latest = df["Ban Date"].max()
print("Date range:", earliest, "to", latest)

Date range: 2023-07-01 00:00:00 to 2025-06-01 00:00:00

In [18]:
top5 = df["Title"].value_counts().head(5)
print("Top 5 most-banned books:")
print(top5)

Top 5 most-banned books:
Title
Looking for Alaska                 147
Nineteen Minutes                   142
Sold                               136
The Perks of Being a Wallflower    135
Thirteen Reasons Why               126
Name: count, dtype: int64