In [9]:
import pandas as pd

In [11]:
df = pd.read_csv("data.csv")
df.head()

,Title,Author,Secondary Author(s),Illustrator(s),Translator(s),Series,State,District,Date of Challenge/Removal,Ban Status
0,Nineteen Minutes,"Picoult, Jodi",NaN,NaN,NaN,NaN,Arizona,Higley Unified School District,August 2024,Banned by Restriction
1,The Perks of Being a Wallflower,"Chbosky, Stephen",NaN,NaN,NaN,NaN,Arizona,Higley Unified School District,August 2024,Banned by Restriction
2,#Pride: Championing LGBTQ Rights,"Felix, Rebecca",NaN,NaN,NaN,#movements,Colorado,Elizabeth School District,August 2024,Banned
3,Beloved,"Morrison, Toni",NaN,NaN,NaN,NaN,Colorado,Elizabeth School District,August 2024,Banned
4,Burned (EH),"Hopkins, Ellen",NaN,NaN,NaN,Burned,Colorado,Elizabeth School District,August 2024,Banned

In [12]:
total_books = len(df)
print("Total books:", total_books)

Total books: 6719

In [13]:
unique_states = df["State"].nunique()
print("Unique states:", unique_states)

Unique states: 22

In [14]:
df["Ban Date"] = pd.to_datetime(df["Ban Date"], errors="coerce")

/var/folders/y3/ctlvwsmx7gg4czd418mrmwsw0000gn/T/ipykernel_51393/441970523.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date of Challenge/Removal"] = pd.to_datetime(df["Date of Challenge/Removal"], errors="coerce")

In [15]:
earliest = df["Ban Date"].min()
latest = df["Ban Date"].max()
print("Date range:", earliest, "to", latest)

Date range: 2024-07-01 00:00:00 to 2025-06-01 00:00:00

In [16]:
top5 = df["Title"].value_counts().head(5)
print("Top 5 most-banned books:")
print(top5)

Top 5 most-banned books:
Title
Clockwork Orange                    23
Sold                                20
Breathless (JN)                     20
Last Night at the Telegraph Club    19
A Court of Mist and Fury            18
Name: count, dtype: int64